.shortcut-group {
    border-radius: 4px;
    margin-bottom: 10px;
    background: #fff;
    display: block;
    padding: 5px;
}

.shortcut-wrapper {
    display: block;
    text-align: center;
    position: relative;
    padding: 10px 15px;
    border: 1px solid #e6e6e6;
    margin-bottom: -1px;
    width: 200px;
}

.shortcut-key {
    display: inline-block;
    border-radius: 4px;
    padding: 4px 10px;
    border: 1px solid #ccc;
    width: 80%;
}

.shortcut-key {
    text-align: center;
}

.shortcut-key.editing {
    border-color: #66afe9;
    box-shadow: 0 0 0 3px rgba(102,175,233,.5);
}